* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
  }

   /* Estilos del encabezado */
   header {
    background-color: #1abc9c;
    padding: 50px;
    text-align: center;
    background: linear-gradient(to right, #1abc9c, #4CAF50);
  }
  
  header h1 {
    color: #fff;
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  header p {
    color: #fff;
    font-size: 18px;
  }

  main{
    display: flex;
    /* border: 1px solid gray; */
    position: relative;
  }
  /* Estilos del contenedor de la contraseña */
  .container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin: 50px auto;
    width: 380px;
    max-width: 500px;
    padding: 30px;
    text-align: center;
  }

  .container h2 {
    color: #1abc9c;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .container p {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    word-wrap: break-word;
  }

  #generateBtn {
    background-color: #1abc9c;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  #generateBtn:hover {
    background-color: #16a085;
  }

  @media (max-width: 768px) {
    header h1 {
      font-size: 36px;
    }
  
    header p {
      font-size: 16px;
    }
  
    .container h2 {
      font-size: 20px;
    }
  
    .container p {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }

  /* Estilos de la barra lateral */
aside {
	background-color: #fff;
	border-right: 1px solid #ccc;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	height: 100%;
	/* position: fixed;
	right: 0;
	top: 0; */
	width: 250px;
    height: 420px;
	z-index: 1;
}

aside h2 {
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	font-size: 24px;
	margin: 0;
	padding: 20px;
}

/* Estilos de los controles */
form {
	padding: 20px;
}

label {
	display: block;
	font-size: 16px;
	/* margin-bottom: 10px; */
  width: 120px;
}

input[type="number"],
input[type="checkbox"] {
	margin-bottom: 20px;
}

button[type="submit"] {
	background-color: #1abc9c;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 10px 20px;
	transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
	background-color: #16a085;
}

div{
    display: flex;
}

/* #copiar{
    width: 100px;
    
    height: 30px;
    background: #b5abab;
    color: white;
    
    border: none;
    font-family: monospace;
}

#copiar:hover{
    cursor: pointer;
} */

#copy-btn {
    padding: 10px;
    font-size: 16px;
    border: none;
    display: block;
    margin: auto;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  #copy-btn:hover {
    background-color: #3E8E41;
    cursor: pointer;
  }
  
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 2px solid #dfd4d4;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked {
    background-color: #00c8b1;
  }

  /* input[type="checkbox"]:hover {
    background-color: #f0f0f0;
    transition: background-color 0.2s ease-in-out;
  } */
  
  input[type="number"] {
    background-color: #f0f0f0;
    color: #000000;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    margin: 5px 0;
  }
  input[type="number"]:hover {
    border-color: #0059ff;
  }
  
  input[type="number"]:focus {
    border-color: #00ff00;
  }
  
  input[type="number"]:invalid {
    border-color: #ff0000;
  }
  input[type="number"][min="0"]:invalid {
    border-color: #ff0000;
  }
      
  #numbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background: orange; */
    margin-bottom: 10px ;
  }

ul {
  display: flex;
  
}

li{
  width: 33.3%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.463);
  list-style: none;
  border-radius: 15px ;
}

li  a {
  color: blue;
  text-decoration: none;
}

