* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
    position: relative;
    height: 100vh;
    width: 100%;
  }

   /* Estilos del encabezado */
   header {
    background-color: #1abc9c;
    padding: 50px;
    text-align: center;
    background: linear-gradient(to right, #1abc9c, #4CAF50);

    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    animation: gradient 5s ease infinite;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%; /* Inicio de la animación */
    }
    50% {
      background-position: 100% 50%; /* La mitad de la animación */
    }
    100% {
      background-position: 0% 50%; /* Final de la animación */
    }
  }
  
  header h1 {
    color: #fff;
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  header p {
    color: #fff;
    font-size: 18px;
  }

  main{
    display: flex;
    /* border: 1px solid gray; */
    
  }
  /* Estilos del contenedor de la contraseña */
  .container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin: 50px auto;
    width: 380px;
    max-width: 500px;
    padding: 30px;
    text-align: center;
  }

  .container h2 {
    color: #1abc9c;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .container p {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    word-wrap: break-word;
  }

  #generateBtn {
    background-color: #1abc9c;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  #generateBtn:hover {
    background-color: #16a085;
  }

  @media (max-width: 768px) {
    header h1 {
      font-size: 36px;
    }
  
    header p {
      font-size: 16px;
    }
  
    .container h2 {
      font-size: 20px;
    }
  
    .container p {
      font-size: 30px;
      margin-bottom: 20px;
    }

    /* aside{
      width: 250px;
      height: 420px;
      z-index: 1;
      position: absolute;
      bottom: 10px;
      left: 10px;
    } */
  }

  /* Estilos de la barra lateral */
aside {
	background-color: #fff;
	border-right: 1px solid #ccc;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	
	
	width: 250px;
  height: 420px;
	z-index: 1;
}

aside h2 {
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	font-size: 24px;
	margin: 0;
	padding: 20px;
}

/* Estilos de los controles */
form {
	padding: 20px;
}

label {
	display: block;
	font-size: 16px;
	/* margin-bottom: 10px; */
  width: 120px;
}

input[type="number"],
input[type="checkbox"] {
	margin-bottom: 20px;
}

button[type="submit"] {
	background-color: #1abc9c;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 10px 20px;
	transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
	background-color: #16a085;
}

div{
    display: flex;
}

#copy-btn {
    padding: 10px;
    font-size: 16px;
    border: none;
    display: block;
    margin: auto;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  #copy-btn:hover {
    background-color: #3E8E41;
    cursor: pointer;
  }
  
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 2px solid #dfd4d4;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked {
    background-color: #00c8b1;
  }

  /* input[type="checkbox"]:hover {
    background-color: #f0f0f0;
    transition: background-color 0.2s ease-in-out;
  } */
  
  input[type="number"] {
    background-color: #f0f0f0;
    color: #000000;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    margin: 5px 0;
  }
  input[type="number"]:hover {
    border-color: #0059ff;
  }
  
  input[type="number"]:focus {
    border-color: #00ff00;
  }
  
  input[type="number"]:invalid {
    border-color: #ff0000;
  }
  input[type="number"][min="0"]:invalid {
    border-color: #ff0000;
  }
      
  #numbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background: orange; */
    margin-bottom: 10px ;
  }

ul {
  display: flex;
  
}

li{
  width: 33.3%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.463);
  list-style: none;
  border-radius: 15px ;
}

li  a {
  color: blue;
  text-decoration: none;
}

#modal{
  display: none;
  position: absolute;
  top: 30%;
  left: 300px;
  width: 600px;
  height: 300px;
  background: #f0f0f0;
  padding: 10px 15px;
  border: 1px solid gray;
  border-top: 5px solid #4CAF50;
  border-radius: 5px;
  box-shadow: -1px -1px 5px 20px rgba(195,247,226,0.51);
-webkit-box-shadow: -1px -1px 5px 20px rgba(195,247,226,0.51);
-moz-box-shadow: -1px -1px 5px 20px rgba(195,247,226,0.51);
}

#modal form{
  
  
  width: 100%;
}

#modal>form input{
  width: 60%;
  height: 30px;
  font-family: monospace;
}

#modal>form p{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px 0;
}

#modal>form textarea{
  width: 60%;
  height: 80px;
  padding: 5px;
}

#btnOption
{
display: flex;
justify-content: right;

}
#modal>form button{
  background-color: #1abc9c;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 10px 20px;
	transition: background-color 0.3s ease;
  margin: 5px;
}